<script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.5.0/aframe/examples/vendor/aframe/build/aframe.min.js"></script>
<script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.5.0/aframe/build/aframe-ar.js"></script>
<body style='margin : 0px; overflow: hidden;'>
<a-scene embedded artoolkit='sourceType: webcam;'>
    <!--<a-assets>-->
        <!--<a-asset-item position='0 0.5 0' id="drone" src="/buster_drone/scene.gtlf"></a-asset-item>-->
    <!--</a-assets>-->

    <!--<a-entity gltf-model="##drone"></a-entity>-->
    <a-box position='0 0.5 1' material='opacity: 0.5;'></a-box>
    <a-marker-camera preset='hiro'></a-marker-camera>
</a-scene>
</body>

<!--<a-scene embedded arjs='trackingMethod: best;'>-->
    <!--<a-anchor hit-testing-enabled='true'>-->
        <!--<a-box position='0 0.5 0' material='opacity: 0.5;'></a-box>-->
    <!--</a-anchor>-->
    <!--<a-camera-static/>-->
<!--</a-scene>-->